main, footer{
    width: 400px;
    margin: 0 auto;
    max-width: 400px;
}
img{
    background-color: black;
    animation: fade 15s;
}
@keyframes fade{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}