:root {
    --primary-color:#f3ebff;
    --secondary-color: #e7ffe6;
    --title-font: "Delius", 'Times New Roman';
    --body-font: Arial, Helvetica, sans-serif;
}
header, footer{
    width: 70%;
    margin: 0 auto ;
    background-color: #f3ebff;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
nav ul li a:hover {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 4px;
}
main{
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}
h1{
    font-family: var(--title-font);
    margin: 0;
    padding: 0 0 8px 0;
}
#temples{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
    gap: 8px;
}
figure{
    margin: 0;
}
a, figcaption{
    font-family: var(--body-font);
}
li{
    padding: 5px;
}
nav li{
    display: block;
    flex: 1 1 100%;
}
.title{
    font-family: var(--title-font);
    font-size:2rem;
}
img{
    max-width: 90%;
    padding: 4px;
}
.temple-card{
    background-color: #f3ebff;
}
div section p{
    margin: 4px;
}
div section h2{
    margin: 16px;
}