:root{
    --background1:#defffc ;
    --background2:#410033;
    --fontcolor:#fff;
    --symbolcolor:#ff0000;
}
header, main, footer{
    margin: 0 auto;
    max-width: 570px;
}
header, footer{
    background-color: var(--background2);
    color: var(--fontcolor);
    padding: 4px 0;
    text-align: center;
}
main{
    background-color: var(--background1);
}
form{
    padding: 16px;
}
legend{
    font-weight: 600;
}
.rating-radio{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
fieldset{
    border: none;
    padding: 2px 0 34px 0; 
}
.radio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.stars{
    text-align: center;
}
#product-name{
    width: 100%;
    height: 32px;
}
#name-place{
    width: 100%;
    height: 60px;
}
#submit{    
    display: block;
    padding: 6px;
    width: 98%;
    margin: 0 auto;
    font-size: x-large;
    font-weight: 600;
}
.select{
    padding: 0 20px 20px 0;
}
.options{
    display: flex;
    flex-direction: column;
    padding: 14px 0 0 0;
}
input[type="checkbox"] {
  width: 24px;
  height: 24px;
  vertical-align: middle; 
  cursor: pointer;
  margin: 10px 10px 10px 3px;
}
#star1, #stars2, #stars3, #stars4, #stars5{
    margin: 6px;
}
.required-symbol{
    color: var(--symbolcolor);
}
#product_name{
    width: 100%;
    height: 32px;
}