:root{
    --color1:rgba(255, 0, 0);
    --color2:rgb(253, 253, 220);
    --font-color1: rgba(0,0,0);
    --font-color2: rgba(255,255,255);
}
body{
    width: 100%;
    margin:0 auto;
}
header, footer{
    background-color: var(--color1);
    color: var(--font-color2);
    padding: 2px;
    text-align: center;
}
main{
    text-align: center;
    background-color: var(--color2);
}
p{
    margin: 0;
    padding: 12px;
    font-family: Arial;
    font-size:xx-large;
}
h1, h2{
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
}
.data-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.data{
    text-align: right;
    font-weight:bold;
}
.content{
    text-align: left;
}
.weather-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.weather{
    text-align: right;
    font-weight: bold;
}
.weather-data{
    text-align: left;
}
.hero, source{
    width: 100%;
}
img{
    width: 130px;
}