:root{
    --color1: #c50000;
    --color2: #feffd1;
    --font-color1: #000000;
    --font-color2: #ffffff;
}
body{
    width: 100%;
    margin:0 auto;
}
header, footer{
    background-color: var(--color1);
    color: var(--font-color2);
    padding: 2px;
    text-align: center;
}
main{
    text-align: center;
    background-color: var(--color2);
}
p{
    margin: 0;
    padding: 12px;
    font-family: Arial;
    font-size:medium;
}
h1, h2{
    font-family: Helvetica, sans-serif;
}
.data-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.data{
    text-align: right;
    font-weight:bold;
}
.content{
    text-align: left;
}
.weather-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.weather{
    text-align: right;
    font-weight: bold;
}
.weather-data{
    text-align: left;
}
img, source{
    width: 100%;
}