@media screen and (min-width: 1000px)
{
    .article1{
        position: absolute;
        top: 8%;
        left: 30px;
        right: 0px;
        bottom: 0px;
        width: 50%;
        height: 42%;
        max-width: 30%;
        background-color: rgba(255, 255, 219, 0.822);
    }
    .article2{
        position: absolute;
        left: 64%;
        top: 20%;
        right: 30px;
        bottom: 0;
        height: 42%;
        background-color: rgba(255, 255, 219, 0.822);
    }
    picture{
        position: relative;
    }
    p,h1, h2{
        font-size: larger;
    }
    .icon:hover{
        width: 140px;
    }
}