:root{
    --color1: #00461d;
    --color2: #faffe6;
    --font-color1: #000000;
    --font-color2: #ffffff;
}
body{
    width: 600px;
    margin:0 auto;
}
header, footer{
    background-color: var(--color1);
    color: var(--font-color2);
    padding: 2px;
    text-align: center;
}
main{
    text-align: center;
}