body{
    font-family: 'roboto', sans-serif;
}
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: solid 1px #000;
    padding: 1rem;
    background-color: rgb(219, 246, 255);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section{
    padding: 1rem;
    background-color: rgb(245, 255, 227);
}